.Buttons {
    alignment: center;
}

.Americano:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.Americano {
    position: absolute;
    top: 240px;
    left: 560px;
    width: 130px;
    Height: 100px;
    background-color: #383633;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.Cappucino:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.Cappucino{
    position: absolute;
    top: 240px;
    left: 700px;
    width: 130px;
    Height: 100px;
    background-color: #383633;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.Wiener-Melage:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.Wiener-Melage {
    position: absolute;
    top: 240px;
    left: 840px;
    width: 130px;
    Height: 100px;
    background-color: #383633;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.Chocolade:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.Chocolade {
    position: absolute;
    top: 350px;
    left: 560px;
    width: 130px;
    Height: 100px;
    background-color: #383633;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.Zwarte-Thee:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.Zwarte-Thee {
    position: absolute;
    top: 350px;
    left: 700px;
    width: 130px;
    Height: 100px;
    background-color: #383633;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.Earl-Gray:disabled {
    cursor: not-allowed;
    background-color: gray;
}

.Earl-Gray {
    position: absolute;
    top: 350px;
    left: 840px;
    width: 130px;
    Height: 100px;
    background-color: #383633;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}