.SuikerOfMelk {
    font-size: 11px;
}

.Suiker{
    position: absolute;
    float: left;
    top: 445px;
    left: 540px;
    margin: 0 25px;
}

.Melk {
    position: absolute;
    float: left;
    top: 445px;
    left: 770px;
    margin: 0 25px;
}
